*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(244,244,242);
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    gap: 600px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.container{
    height: 90vh;
    width: 100%;
    display: flex;
}
.container .img_section{
    width: 70%;
}
.container .img_section img{
    width: 100%;
    height: 90vh;
}
.container .text_section{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-left: 12px;
    margin-bottom: 20px;
}
.container .text_section h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.container .text_section p{
    margin-bottom: 14px;
    font-size: 18px;
}
.container .text_section button{
    border: none;
    background-color: rgb(0,47,108);
    color: white;
    height: 50px;
    width: 400px;
    border-radius: 50px;
    font-size: 20px;
}
.container .text_section a{
    margin-top: 20px;
    color: rgb(24,104,166);
    text-decoration: none;
    font-size: 20px;
}
.container .text_section span{
    display: flex;
    gap: 30px;
}
.container_1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    gap: 120px;
}
.container_1 p{
    font-size: 25px;
}
.container_1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: black;
    color: white;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-size: 18px;
    padding-top: 80px;
}
footer h3{
    margin-bottom: 30px;
}
footer input{
    height: 8vh;
    width: 400px;
    border: 2px solid white;
    border-radius: 20px ;
    background: none;
}
footer input::placeholder{
    color: white;
    padding-left: 20px;
}
.lower_footer{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.lower_footer_2{
    display: flex;
    gap: 20px;
}
.lower_footer_1{
    margin-left: 150px;
    display: flex;
    gap: 20px;
}
.lower_footer_1 a{
    color: white;
    font-size: 20px;
    margin-left: 90px;
}
.design{
    background-color: black;
    color: rgba(255, 255, 255, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}